<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org">

<!--configFragment 선언-->
<th:block th:fragment="configFragment">

    <!-- 이 영역에 공통으로 사용할 css, js library를 선언한다. -->
    <link rel="stylesheet" th:href="@{/css/common/common.css}">
    <link href='https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700' rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel="stylesheet">

    <script th:src="@{/js/common/common.js}"></script>


</th:block>
</html>