<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org">

<!--headerFragment 선언-->
<div th:fragment="headerFragment">
    <!-- pre-header -->
    <table style="display:none!important;">
        <tr>
            <td>
                <div style="overflow:hidden;display:none;font-size:1px;color:#ffffff;line-height:1px;font-family:Arial;maxheight:0px;max-width:0px;opacity:0;">
                    Pre-header for the newsletter template
                </div>
            </td>
        </tr>
    </table>
    <!-- pre-header end -->
    <!-- header -->
    <table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="ffffff">
        <tr>
            <td align="center">
                <table border="0" align="center" width="590" cellpadding="0" cellspacing="0" class="container590">
                    <tr>
                        <td height="25" style="font-size: 25px; line-height: 25px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td align="center">
                            <table border="0" align="center" width="590" cellpadding="0" cellspacing="0"
                                   class="container590">
                                <tr>
                                    <td align="center" height="70" style="height:70px;">
                                        <a href=""
                                           style="display: block; border-style: none !important; border: 0 !important;">
                                            <img src="http://drive.google.com/uc?export=view&id=1WywzDfuURYYEADFrVPpK4oM2X3v7UFwo" alt="안돼애" width="100" border="0"
                                            style="display: block; width: 200px;" />
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td height="25" style="font-size: 25px; line-height: 25px;">&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <!-- end header -->
</div>
</html>